* {
margin: 0;
padding: 0;
box-sizing: border-box;
--lucky: #BBa01d;
--chromewhite: #e0f1d3;
--RaginBeige: #fff5d7;
--CoralPink: #ff5e6c;
--SleuthYellow: #feb300;
--PinkLeaf: #ffaaab;
--BabyBlue: #cceeff;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    width: 100%;
    background-color: var(--RaginBeige);
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--PinkLeaf);
    background-size: cover;
    align-items: center;
  


}
.header h1{
    font-size: 200%;
    flex-shrink: 2;

    
}
.profile-pic{
    flex-shrink: 2;
    width: 7%;
}
.navbar{
    font-size: 140%;
    display: flex;
    /* border: 2px black solid; */
    background-color: var(--BabyBlue);
    justify-content: center;
    

}
.nav-links{
    display: flex;
    /* border: 2px black solid; */
    justify-content: space-between;
    width: 50%;
    text-align: center;
    

}



.nav-links a{
    text-decoration: none;
    color: black;
    
}
.nav-links a :hover {
    background-color: black;
}
a:hover{
    background-color: var(--PinkLeaf);
    color: var(--BabyBlue);
    border: 1px black solid;
    border-radius: 10px;
}
.container{
    border: 2px black solid;

}
.container h2{
    text-align: center;
    padding: 3%;
    margin-bottom: 3%;
    font-size: 200%;
}
.personal{
    border: 2px blue solid;
}
.project-1{
    text-align: center;
}
.project-container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}
.project2-5{
    border: 2px black solid;
}
/* .form-container{
    background-color: var(--BabyBlue);
    margin: 0 auto;
    border: 2px black dotted;
    display:flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 2%; */

.form-container{
    display: flex;
    flex-direction:row;
    margin: 0 auto;

    
}
.user-input{
    margin-right: 500px;
}
.form-container h2{
    margin-right: 5%;
    display: inline;
}
.submit{ 
    /* margin-left: 200%; */
}

@media screen and (max-width: 960px){
.profile-pic{
    width: 17.5%;
}
.header h1{
    font-size:225%;
}
.contact-form{
    display:flex;
    flex-direction: column;
}
}

@media screen and (max-width: 768px){
.header{
    display: flex;
    flex-direction: column;}

.nav-links{
    display: flex;
    flex-direction: column; 
    justify-content: center; 

}
.profile-pic{
width: 17.5%;
}

}





